@model KutuphaneMvc.Models.Entities.TBLKITAP

@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-label" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Kategori</label>
        @Html.DropDownListFor(k => k.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.dger1, new { @class = "form-control form-control-lg" })
  
    </div>
    <div style="margin-top:15px">
        <label>Kitap Yazar Bilgileri</label>
        @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<SelectListItem>)ViewBag.dger2, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <label>Basım Yılı</label>
        @Html.TextBoxFor(k => k.BASIMYILI, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <label>Yayın Evi</label>
        @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <label>Sayfa Sayısı</label>
        @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-primary btn-lg">Kitap Ekle</button>
    </div>
  <input type="hidden" name="Durum" value="True"/>
</form>

