@model KutuphaneMvc.Models.Entities.TBLYAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-label" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(y => y.AD)   
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(y=>y.SOYAD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Bilgileri</label>
        @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
       <button class="btn btn-primary btn-lg">Yazar Ekle</button>
    </div>
</form>

