@model KutuphaneMvc.Models.Entities.TBLHARAKET
@{
    ViewBag.Title = "OduncVer";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-label" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Üye ID</label>
        @*@Html.TextBoxFor(k => k.UYE, new { @class = "form-control form-control-lg" })*@
        @Html.DropDownListFor(k=>k.TBLUYELER.ID,(List<SelectListItem>)ViewBag.Dgr1,new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap ID</label>
        @*@Html.TextBoxFor(k => k.KITAP, new { @class = "form-control form-control-lg" })*@
        @Html.DropDownListFor(k => k.TBLKITAP.ID, (List<SelectListItem>)ViewBag.Dgr2, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <label>Personel ID</label>
        @*@Html.TextBoxFor(k => k.PERSONEL, new { @class = "form-control form-control-lg" })*@
        @Html.DropDownListFor(k => k.TBLPERSONEL.ID, (List<SelectListItem>)ViewBag.Dgr3, new { @class = "form-control form-control-lg" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Alış Tarihi</label>
        <input type="text" class="form-control form-control-lg" name="ALISTARIHI" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <label>Kitap İade Tarihi</label>
        <input type="text" class="form-control form-control-lg" name="IADETARIH" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-primary btn-lg">Ödünç Ver</button>
        <input  type="hidden" value="False" name="ISLEMDURUM"/>
    </div>
</form>

